{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="jumbotron">
    <img src="./static/img/KJU.jpg" class="rounded img-fluid" width="128" height="128" align="right">
    <h1>森破导航</h1>
    <p>Stay young, stay simple.</p>
</div>

<table class="table table-striped">
    <tbody>
        <!-- TODO: group filter-->
        <tr class="bz-row">
        <th class="">常用</th>
        {% for todo in todolists %}
            {% if todo.status %}
                <td class="">
                    <a href={{ todo.url }} target="_blank">{{ todo.title }}</a>
                </td>
            {% endif %}
        {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}
