{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="jumbotron">
    <img src="./static/img/KJU.jpg" class="img-rounded" width="128" height="128" align="right">
    <h1>森破导航</h1>
    <p>Stay young, stay simple.</p>
    {% if current_user.is_authenticated %}
        <p>Hi admin!</p>
    {% endif %}
</div>

<table class="table table-bordered table-striped" style="word-break:break-all; word-wrap:break-all">
    <tbody>
        {# TODO: group filter #}
        {% for group in grouplists %}
            <tr class="bz-row">
            <th class="">{{ group.name }}</th>
            {% for site in sitelists %}
                {% if site.group_id == group.id and site.status %}
                    <td class="">
                        <a rel="nofollow" href="{{ site.url }}" target="_blank" alt="{{ site.description }}">{{ site.title }}</a>
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}
