{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <!-- Button trigger modal -->
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="nav nav-pills">
                    <li class="active" data-toggle="modal" data-target="#newSiteModal"><a href="#"><span
                            class="glyphicon glyphicon-link"></span>&nbsp; new site</a></li>
                    <li data-toggle="modal" data-target="#groupModal"><a href="#"><span
                            class="glyphicon glyphicon-book"></span>&nbsp; new group</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h2>Edit groups&nbsp;<small>Edit or delete groups.</small></h2>
    <table class="table table-hover table-striped">
        <thead>
        <th class="active">No</th>
        <th class="active">Name</th>
        <th class="active">Parent Name</th>
        <th class='active'>Ctrl</th>
        </thead>
        <tbody>
        {% for group in grouplists %}
            <tr class="bz-row">
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>PASS</td>
                <td>PASS</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Edit sites&nbsp;<small>Edit or delete sites.</small>
    </h2>
    <table class="table table-hover table-striped">
        <thead>
        <th class="active">No</th>
        <th class="active">Title</th>
        <th class="active">Description</th>
        <th class="active">Create Date</th>
        <th class='active'>Ctrl</th>
        </thead>
        <tbody>
        {% for site in sitelists %}

            <!-- tr -->
            <tr class="bz-row">
                <td>{{ site.id }}</td>
                <td><a href={{ site.url }} target="_blank">{{ site.title }}</a>
                    {# Show Badge by status #}
                    {% if site.status %}<span class="label label-primary">展示</span>
                    {% else %}<span class="label label-default">隐藏</span>{% endif %}

                </td>
                <td>{{ site.description }}</td>
                <td>{{ site.create_time }}</td>
                <td>
                    <a href="{{ url_for('change_todo_list', id=site.id) }}" class="btn btn-success" role="button">修改</a>
                    <a href="{{ url_for('delete_todo_list', id=site.id) }}" class="btn btn-danger" role="button">删除</a>
                </td>

            </tr>
        {% endfor %}

        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="newSiteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel" align="center">添加网站</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2"> {{ wtf.quick_form(form, form_type="horizontal") }} </div>
                    </div>
                </div> <!-- modal body -->

            </div>
        </div>
    </div>


{% endblock %}
